{% extends "base.html" %}

{% block insert %}
    
    <div class="update">
        <form action="" method='post'>
        Full name: <input type="text" name="fname" id="" value="{{student.name}}"> <br> <br>
        Address: <input type="text" name="address" id="" value="{{student.address}}"> <br> <br>
        SGPA: <input type="text" name="sgpa" id="" value="{{student.sgpa}}"> <br> <br>
        <input type="submit" name="" id="" value='update'>
    </form>
    </div>
{% endblock %}

